[Unit]
Description=ydotool daemon
Documentation=https://github.com/ReimuNotMoe/ydotool
After=graphical.target

[Service]
Type=simple
ExecStart=/usr/bin/ydotoold
ExecStartPost=+/bin/sh -c 'sleep 0.5 && chmod 666 /tmp/.ydotool_socket'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical.target